<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
</head>
<body>
    <h1>Student List</h1>
    <a href="{% url 'student_create' %}">Add Student</a>
    <table>
        <tr>
            <th>ID</th>
            <th>First</th>
            <th>Last</th>
            <th>Age</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Location</th>
            <th>Hobby</th>
            <th>Actions</th>
        </tr>
        {% for student in students %}
        <tr>
            <td>{{ student.id }}</td>
            <td>{{ student.first_name }}</td>
            <td>{{ student.last_name }}</td>
            <td>{{ student.age }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.phone }}</td>
            <td>{{ student.location }}</td>
            <td>{{ student.location }}</td>
            <td>{{ student.hobby }}</td>
            <td>
                <a href="{% url 'student_update' student.pk %}">Edit</a>
                <a href="{% url 'student_delete' student.pk %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>