<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Detail</title>
</head>
<body>
    <h1>{{ student.first_name}} {{student.last_name}}</h1>
    <p>Age: {{ student.age }}</p>
    <p>Email: {{ student.email }}</p>
    <p>Phone: {{ studnet.phone }}</p>
    <p>Location: {{ student.location }}</p>
    <p>Hobby: {{ student.hobby }}</p>
    <a href="{% url 'student_update' student.pk %}">Edit</a>
    <a href="{% url 'student_delete' student.pk %}">Delete</a>
    <a href="{% url 'student_list' %}">Back to list</a>
</body>
</html>